* {
    margin: 0;
    padding: 0;
}

svg {
    fill: fuchsia;
    height: 24px;
    width: 24px;
}

svg:hover {
    fill: yellowgreen;
    transform: scale(1.2);
    stroke: red;
    stroke-width: 2px;
}